<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="file-main" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/main.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/main-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"/>
        </rollingPolicy>
        <encoder>
            <pattern>%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="file-main"/>
    </root>
</configuration>
